.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.nav{
  background-color: white;
  margin: -20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 7rem;
  color: white;
}
.nav img{
  width: 100px;
}
.nav p{
  font-size: 25px;
  font-weight: bolder;
}
.nav ul{
  display: flex;
  font-size: 15px;
  list-style: none;
  gap: 2rem;
}
.nav li{
  cursor: pointer;
  
}
.nav li:hover{
  cursor: pointer;
  color: blue;
}
.nav li.active{
  cursor: pointer;
  color: gray;
}

.nav .link{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.nav .link:hover{
  cursor: pointer;
  color: blue;
}
.nav .link.active{
  cursor: pointer;
  color: gray;
}
.nav2{
  width: 100%;
  background-color: blue;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.nav2 .link{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.nav2 .link:hover{
  cursor: pointer;
  color: blue;
}

.nav2 .link img{
  cursor: pointer;
  width: 25px;

}
.nav2 ul{
  margin: 10px 50px;
  display: flex;
  font-size: 15px;
  list-style: none;
  gap: 2rem;
}
.imgss{
  width: 100%;
}
.ContactUs
{
  min-height: 87vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1601121303672-a1e1c155ac37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80")  ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.OurProducts{
  min-height: 97vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1601121303672-a1e1c155ac37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.OurProducts img{
  height: 40vh;
}
.Home{
  min-height: 87vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1601121303672-a1e1c155ac37?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-position: center;
    background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.Home img{
  height: 40vh;
}